/* Styled hr element on footer */
hr{
    border: 0;
    margin-top: -0.1px;
    height: 1px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(94, 94, 94), rgb(255, 254, 254));
}