<div class="formDiv" fxLayout="row wrap" fxFlex='100' fxLayoutAlign="center center">
  <mat-card fxLayout="column wrap" fxFlex='30' fxFlex.xs='80' fxLayoutAlign="center center">
    <h3>Ingresar al sistema</h3>

    <mat-form-field class="full-with-field">
      <input matInput placeholder="Ingresa tu correo" [type]="'text'" [formControl]="email" autofocus (keydown)="onKeydown($event)">
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-with-field">
      <input matInput placeholder="Ingresa tu contraseña" [type]="hide ? 'text' : 'password'" [(ngModel)]="password" (keydown)="onKeydown($event)">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>  

    <div fxLayout="row wrap">
      <button mat-raised-button color="primary" (click)="login()">Ingresar</button>&nbsp;
      <button mat-raised-button color="primary" [routerLink]="['/registry']">Registrarse</button>
    </div>

    <a white-space: pre-wrap [routerLink]="['/login']"><br><br>Olvidaste tu contraseña? Clic aquí</a>

  </mat-card>
</div>