<div class="formDiv" fxLayout="row wrap" fxFlex='100' fxLayoutAlign="center center">
    <mat-card fxLayout="column wrap" fxFlex='80' fxLayoutAlign="center center">
      <h3>Perfil de Usuario</h3>
      <form class="full-with-field" fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutAlign="center center" [formGroup]="myForm">
          <div fxLayout="row wrap" fxFlex='50'>
          <mat-form-field class="full-with-field">
              <input matInput placeholder="Nombre" [type]="'text'" [formControl]="name" required tabindex="1">
              <mat-error *ngIf="name.invalid">{{getErrorName()}}</mat-error>
          </mat-form-field>
    
          <mat-form-field class="full-with-field">
            <input matInput placeholder="Nueva Contraseña" [type]="hide ? 'text' : 'password'" formControlName="password" required tabindex="3">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="myForm.hasError('required', 'password')">
              Ingrese su nueva contraseña
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxFlex='50'>
          <mat-form-field class="full-with-field">
            <input matInput placeholder="Correo" [type]="'text'" [formControl]="email" required tabindex="2">
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>          
    
          <mat-form-field class="full-with-field">
            <input matInput placeholder="Confirmar Contraseña" [type]="hide2 ? 'text' : 'password'" formControlName="confirmPassword" [errorStateMatcher]="matcher" tabindex="4">
            <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="myForm.hasError('notSame')">
              Las contraseñas no coinciden
            </mat-error>  
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <button mat-raised-button color="primary" type="button" (click)="update()">Actualizar</button>&nbsp;
          <button mat-raised-button color="primary" type="button" (click)="cancel()">Cancelar</button>
        </div>      
      </form>
  
    </mat-card>
  </div>