<!-- Header HTML Code -->
<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="isLoggedIn$ | async" (click)="toggleRightSidenav()"><mat-icon class="example-icon">menu</mat-icon></button>
  <span class="spanText" *ngIf="isLoggedIn$ | async">Menu</span>
  <p class="pushElement">Capa de presentación</p>
</mat-toolbar>
