.main-panel-container{
    min-height: 80vh;
}

.main-panel-sidenav{
    min-width:250px;
    color:white;
    background:rgba(63, 81, 181, 0.6);
}

.linkStyle{
    color:white;
    text-decoration:none;
}