<mat-sidenav-container class="main-panel-container" autosize>
  <mat-sidenav #sidenav class="main-panel-sidenav" mode="side" [(opened)]="opened">  <!--(opened)="events.push('open!')" (closed)="events.push('close!')" -->
    <mat-list>
      <a class="linkStyle" mat-list-item *ngFor="let link of links1" [routerLink]="[link.url]" (click)="sidenav.close()"><mat-icon matSuffix>{{link.iconSuffix}}</mat-icon>&nbsp;{{ link.showName }}</a>
      <hr>
      <a class="linkStyle" mat-list-item *ngFor="let link of links2" [routerLink]="[link.url]" (click)="sidenav.close()"><mat-icon matSuffix>{{link.iconSuffix}}</mat-icon>&nbsp;{{ link.showName }}</a>
      <hr>
      <a class="linkStyle" mat-list-item [routerLink]="['/']" (click)="logOut()"><mat-icon matSuffix>person_outline</mat-icon>&nbsp;Cerrar sesión</a>      
    </mat-list>
 </mat-sidenav>

 <mat-sidenav-content class="main-panel-sidenav-content">
   <router-outlet></router-outlet>
 </mat-sidenav-content>
</mat-sidenav-container>

