<div class="formDiv" fxLayout="row wrap" fxFlex='100' fxLayoutAlign="center center">
  <mat-card fxLayout="column wrap" fxFlex='30' fxFlex.xs='80' fxLayoutAlign="center center">
    <h3>Registro de Usuario</h3>
    <form fxLayout="column wrap" fxLayout="row wrap" fxFlex='100' fxLayoutAlign="center center" [formGroup]="myForm">
      <mat-form-field class="full-with-field">
          <input matInput placeholder="Nombre" [type]="'text'" [formControl]="name" required>
          <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-with-field">
        <input matInput placeholder="Correo" [type]="'text'" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-with-field">
        <input matInput placeholder="Nueva Contraseña" [type]="hide ? 'text' : 'password'" formControlName="password" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="myForm.hasError('required', 'password')">
          Ingrese su nueva contraseña
        </mat-error>
        <mat-error *ngIf="myForm.controls['password'].hasError('pattern')">Debe contener al menos 6 caracteres</mat-error>        
      </mat-form-field>  

      <mat-form-field class="full-with-field">
        <input matInput placeholder="Confirmar Contraseña" [type]="hide2 ? 'text' : 'password'" formControlName="confirmPassword" [errorStateMatcher]="matcher">
        <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="myForm.hasError('notSame')">
          Las contraseñas no coinciden
        </mat-error>
        <mat-error *ngIf="myForm.controls['confirmPassword'].hasError('pattern')">Debe contener al menos 6 caracteres</mat-error>
      </mat-form-field>
      <div class="regButtons" fxLayout="row wrap">
        <button mat-raised-button color="primary" (click)="registry()">Registrarse</button>&nbsp;
        <button mat-raised-button color="primary" [routerLink]="['/login']">Cancelar</button>
      </div>      
    </form>
  </mat-card>
</div>
