.formDiv{
    min-height: 50vh;
}

.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
}

.full-with-field {
    width: 100%;
}

.mat-focused .mat-icon{
    color:#3f51b5;
}

.regButtons{
    padding-top: 15px;
}