/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";       /* Material Theme */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';  /* Material Icons */

/*Customise Button*/
.mat-raised-button:hover{
    background-color: white;
    color:#3f51b5;
}

/*Customise Body*/
.styledBody{
    margin:0;
    padding:0;
}